@model GBlientes.UI.ViewModels.SaldoViewModel

@{
    ViewBag.Title = "Resgate Pontos";
}


<h3>Deseja resgatar a pontuação abaixo?</h3>
<div>
    <h4>Pontuações</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Razao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pontos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar " class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
