@model GBlientes.UI.ViewModels.SaldoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pontuações</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpresaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Razao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pontos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pontos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SaldoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
